.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

ul {
  padding: 0;
  margin: auto;
}

li {
  list-style: none;
}



@media(max-width:748px) {

  img {
    display: none;
  }

  ul {
    width: 90%;
  }

  li {
    padding: 2px;
    width: 100%;
  }
}